.nav {
  grid-area: nav;
  background-color: bisque;
	padding: 30px;
	gap: 30px;
}

.link {
	color: darkorange;
	text-decoration: none;
}

.activeLink {
	color: brown;
	text-decoration: none;
	font-weight: bold;
}

